@using GamifyingTasks.Pages.Popups
@inject IDialogService DialogService
@using Google.Cloud.Firestore;
@using GamifyingTasks.Firebase.DB
@using GamifyingTasks.Classes
@using GamifyingTasks.Interfaces
@inject NavigationManager navManger

<div class="d-flex align-end justify-end">
    <MudIconButton Icon="@Icons.Material.Filled.AddCircle" aria-label="newItem" Size="Size.Large" Color="Color.Info"
        @onclick="ToggleAddPopup">
    </MudIconButton>
    <MudPopover OverflowBehavior="OverflowBehavior.FlipNever" Open="@viewAddButtons" AnchorOrigin="Origin.TopRight"
        TransformOrigin="Origin.BottomRight" Class="pa-4">
        <MudPaper>
            <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" VerticalAlign="true">
                <MudButton OnClick="@OpenAddNewTask">Add New Task</MudButton>
                <MudButton OnClick="@OpenAddNewEvent">Add New Event</MudButton>
                <MudButton OnClick="@OpenAddNewTask">Add New Reminder</MudButton>
            </MudButtonGroup>
        </MudPaper>
    </MudPopover>
</div>

@code {
    [Parameter]
    public EventCallback<bool> TaskAdded { get; set; }
    [Parameter]
    public EventCallback<bool> EventAdded { get; set; }
    public bool viewAddButtons = false;

    private async Task OpenAddNewTask()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, ClassBackground = "popup-style" };
        var dialog = DialogService.Show<AddNewTask>("Add New task", options);

        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await TaskAdded.InvokeAsync(true);
        }
    }

    private async Task OpenAddNewEvent()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, ClassBackground = "popup-style" };
        var dialog = DialogService.Show<AddNewEvent>("Add New Event", options);

        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await EventAdded.InvokeAsync(true);
        }

    }
    private void ToggleAddPopup()
    {
        if (viewAddButtons)
            viewAddButtons = false;
        else
            viewAddButtons = true;

        Console.WriteLine(viewAddButtons);
    }
}    =