@page "/profile"
@using GamifyingTasks.Firebase.DB
@inject NavigationManager navManger

<MudMainContent>
    <MudGrid>
        <MudItem xs="12" xl="30">
            <div class="d-flex align-center justify-center">
                <MudImage Src="@DBCore.CurrentUser().Info.PhotoUrl" class="mud-theme-primary rounded-circle col-span-1"
                    Width="300" Height="300" />
            </div>
            <div class="d-flex align-center justify-center">
                <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h4">
                    <b>@DBCore.CurrentUser().Info.DisplayName</b>
                </MudText>
            </div>
        </MudItem>
        <MudItem xs="12" xl="30">
            <MudCard>
                <MudCardContent class="d-flex flex-grow-1">
                    <MudGrid class="flex-grow-1">
                        <MudItem xs="12" xl="20" class="d-flex flex-column flex-grow-1 align-center justify-center">

                            <div class="d-flex justify-content-between">
                                <MudText class="align-content-start flex-grow-1" Typo="Typo.subtitle1"
                                    Color="Color.Primary">
                                    <b>Level - @DBCore.CurrentLocalUser.Level</b>
                                </MudText>
                                <MudText class="align-content-end pl-16" Typo="Typo.subtitle1" Color="Color.Primary">
                                    <b>@DBCore.CurrentLocalUser.Exp/@DBCore.CurrentLocalUser.requiredExp EXP</b>
                                </MudText>
                            </div>
                        </MudItem>
                        <MudItem xs="12" xl="12">
                            <div>
                                <MudProgressLinear Color="Color.Info" Size="Size.Large" Value="@progress">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                                        <b>@progress%</b>
                                    </MudText>
                                </MudProgressLinear>
                            </div>
                        </MudItem>
                        <MudItem xs="12" xl="12">
                            <MudPaper class="d-flex flex-row justify-center" Elevation="0">
                                <MudStack Spacing="16" Row="true">
                                    <MudStack>
                                        <MudPaper Class="d-flex justify-center" Elevation="0">Tasks Completed</MudPaper>
                                        <MudPaper Class="d-flex justify-center" Elevation="0">15</MudPaper>
                                    </MudStack>
                                    <MudStack>
                                        <MudPaper Class="d-flex justify-center" Elevation="0">Day Login Streak</MudPaper>
                                        <MudPaper Class="d-flex justify-center" Elevation="0">5</MudPaper>
                                    </MudStack>
                                    <MudStack>
                                        <MudPaper Class="d-flex justify-center" Elevation="0">Days longest Streak</MudPaper>
                                        <MudPaper Class="d-flex justify-center"Elevation="0">7</MudPaper>
                                    </MudStack>
                                </MudStack>
                            </MudPaper>

                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="6" xl="15">
            <MudPaper Height="430px">
                <MudCard Elevation="0">
                    <MudCardContent class="d-flex flex-grow-1 justify-center">
                        <MudText><b>Personal Goals</b></MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
                <MudItem xs="6" xl="15">
            <MudPaper Height="430px">
                <MudCard Elevation="0">
                    <MudCardContent class="d-flex flex-grow-1 justify-center">
                        <MudText><b>Goals Reached</b></MudText>                          
                    </MudCardContent>
                </MudCard>
                  <MudCard Elevation="0">
                    <MudCardContent class="d-flex flex-grow-1 justify-center">
                        <MudText><b>Personal Rewards Gained</b></MudText>                          
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudMainContent>
@code {

    private double progress = 0;
    protected override async Task OnInitializedAsync()
    {

        if (DBCore.CurrentUser() == null)
        {
            navManger.NavigateTo("/");
        }
        else
        {
            UpdateProgress();
        }
    }

    private void UpdateProgress()
    {
        // Calculate accurate progress fraction
        float fraction = Math.Min(DBCore.CurrentLocalUser.Exp / (float)DBCore.CurrentLocalUser.requiredExp, 1f);

        progress = Math.Round(fraction * 100, 0); // Round to the nearest whole number after calculation
        if (progress >= 100)
        {
            progress = 0;
        }
        StateHasChanged();
    }
}
